langgraph
langchain
fastapi
uvicorn
python-dotenv
langchain-groq
faiss-cpu
langchain_huggingface
langchain-community
pypdf
sentence-transformers
python-jose[cryptography]
passlib[bcrypt] 
sqlalchemy 
asyncpg
python-multipart
slowapi
websockets
fastapi-websocket-pubsub